<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Menu</title>
        <link rel="stylesheet" href="../css/menu.css">
    </head>
    <body>
        <div class="menu-container">
            <h1>Welcome to Our Coffee Shop</h1>
            <ul>
                <li><a href="../order/order.html">Order</a></li>
                <li><a href="../menu/menu.html">Menu</a></li>
            </ul>
        </div>
        <!--This controls the container for menu-->
        <div class="container">
  <h2>Accordion Example</h2>
 <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <img class="panel-body" src="{{ url_for('static', filename='coffeecup.jpg') }}">
        <div class="panel-body"> Cappaccino - $3.50</div>
      </div>
    </div>
</html>