title
{
    color: #fd1515;
    font-size: 2em;
    margin-bottom: 1em;
}

head
{
    background-color: #f5f5f5;
    padding: 1em;
}

body
{
    background-color: #2b5ebd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}